

<div class="container" style="padding: 10px;">

  <h2 class="">Liste des produits</h2>
  <table class="responsive-table striped">
    <thead>
  <tr>
  <th>ID</th>
  <th>Ref </th>
  <th>Designation </th>
  <th>Descriptif </th>
  <th>PrixUHT </th>
  </tr>

</thead>

<tbody>
  <tr *ngFor="let p of produit">
  <td>{{p.id}}</td>
  <td>{{p.ref}}</td>
  <td>{{p.designation}}</td>
  <td>{{p.descriptif}}</td>
  <td>{{p.prixUHT}}</td>
  <td>
    <a routerLink="/edit/{{p.id}}" class="waves-effect waves-light btn btn-primary">edit</a>
    <a routerLink="/produit/{{p.id}}" class="waves-effect waves-light btn btn-danger">delete</a>
  </td>

  </tr>

  <a routerLink="/addproduit" class="waves-effect waves-light btn btn-success">Ajouter</a>
</tbody>
  </table>

</div>
