
<header style="background-color: rgb(253, 127, 43);">
<div class="container" >
  <div class="row">
    <div class="col-sm" >
    <img src="assets/img/logo.png" alt="" height="100px" >
    </div>

    <div class="col-sm" style="padding-top: 3%; text-align: center;">
    <span >Compare & buy computer parts !</span>
  </div>
  <div class="col-sm" style="padding-top: 3%; text-align: right;">
    <a href="" ><span >Log in / Sign in</span></a>
  </div>
   </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Produit</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Cartes graphiques</a>
          <a class="dropdown-item" href="#">Cartes mères</a>
          <a class="dropdown-item" href="#">Processeurs</a>
          <!-- <div class="dropdown-divider"></div> -->
        </div>
      </li>
    </ul>


    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>


</nav>
<div class="" style="padding: 1%; ">
  <p style="font-size: large; color: rgb(255, 255, 255);">Home > produits</p>
</div>

</header>


